<%= form_for @order, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :order_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :order_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_emision, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :fecha_emision, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sub_total, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :sub_total, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descuento, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :descuento, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :igv, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :igv, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :total, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  orders_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
