<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Fecha emision:</strong>
  <%= @order.fecha_emision %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @order.sub_total %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @order.descuento %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @order.igv %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
