<%= form_for @product, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :product_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :product_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :precio_unitario, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :precio_unitario, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :stock, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :stock, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  products_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
